.spacing {
    font-size: 2.5vh;
    letter-spacing: 0.3em;
    margin: 0 auto;
    margin-right: 1.6em;

}

.padding {
    padding: 0%;
    margin: 0%;
    margin-bottom: 0px;
}

#page {
    border-collapse: collapse;
}

@media(min-width: 550px){
.logo {
    position: absolute;
    color: white;
    z-index: 1;
    height: 70px;
    width: 70px;
    font-size: 1em auto;
    word-wrap: break-word;
    margin-top: 1em;
    margin-left: 1em;
    font-size: 0.9em;
    border-color: black;
    border-style: solid;
    }
}

@media (max-width: 549px){
    .logo {
        position: absolute;
        color: white;
        z-index: 1;
        height: 30px;
        width: 30px;
        font-size: 1em auto;
        word-wrap: break-word;
        margin-top: 1em;
        margin-left: 1em;
        font-size: 0.1em;
        border-color: black;
        border-style: solid;
        }
}

.logo:hover{
    color: white;
}
.navbar-item{
     color: white;
 }

 .navbar-item:hover{
     color: whitesmoke
 }

 .navbar-trans{
     background: transparent;
 }

 .box{
    border-style: solid;
    border-color: black;
    justify-content: center;
    padding-top: 0.2em;
    padding-bottom: 0.2em;
    padding-right: 0.2em;
    padding-left: 0.2em;
 }

 .navbar{
     height: 10vh;
 }